%html
  %head
    %title Jeff Boshers | Lonely Planet UI Test
    %link{rel: "stylesheet", href: 'css/style.css'}

  %body
    = haml :nav
    = yield
    = haml :footer

    /move these guys to the bottom. I'd also put a fallback to a local jquery too.
    %script{src: '//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js'}
    %script{src: 'js/app.js'}